!includes/img
photo_files
!photo_files/_blank.png
.idea
insertpin1.php
zzz.php
insertpin.js
error_log
0.html
/vendor
/node_modules
libs/jquery
libs/moment
libs/formValidation
libs/bootstrap-datepicker
libs/bootstrap
libs/fonts
out_logs
