photo_files
.idea
insertpin1.php
zzz.php
insertpin.js
error_log
0.html
node_modules
vendor
img
libs/jquery
libs/moment
libs/formValidation
libs/bootstrap-datepicker
libs/bootstrap
libs/fonts
out_logs
