<div class="row courses-view">
  <form class="form-horizontal" role="form" id="new-course-form"
        data-fv-framework="bootstrap"
        data-fv-message="This value is not valid"
        data-fv-icon-valid="glyphicon glyphicon-ok"
        data-fv-icon-invalid="glyphicon glyphicon-remove"
        data-fv-icon-validating="glyphicon glyphicon-refresh">

    <div class="form-group">
      <label class="control-label col-md-3" for="code">Course Code</label>

      <div class="col-md-5">
        <input class="form-control" name="code" id="code"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3" for="title">Course Description</label>

      <div class="col-md-5">
        <textarea class="form-control" name="title" id="title"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3" for="unit">Course Unit</label>

      <div class="col-md-5">
        <input class="form-control" name="unit" id="unit"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3" for="department">Department</label>

      <div class="col-md-5">
        <select class="form-control" name="department" id="department">
          <option value="">---</option>
          <option value="dental_therapy">Dental Therapy</option>
          <option value="dental_technology">Dental Technology</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3" for="level">Level</label>

      <div class="col-md-5">
        <select class="form-control" name="level" id="level" required>
          <option value="">---</option>

          {{#levels}}
            <option value="{{ id }}">{{ code }}</option>
          {{/levels}}
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-5 col-md-offset-3">
        <input class="btn" type="submit" name="new-course-submit-btn" id="new-course-submit-btn" value="Create New Course"/>
      </div>
    </div>

  </form>
</div>